{% extends 'skeleton.html' %} 

{% load static %} 
{% load material_form %} 

{% block extra_head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'info_mgt/css/info_mgt.css' %}"
/>
{% endblock extra_head %} 

{% block card_content %}
<div><img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fwww.shpans.com%2Fresource%2Fimages%2F83f25990fa24454bb88327156b660139_10.jpg&refer=http%3A%2F%2Fwww.shpans.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1627407710&t=d26aa3aff4239d2350316084b19db4c1" height="500px"></div>
{% endblock card_content %}
