 {% extends 'skeleton.html' %} {% load static %} {% load material_form %} {% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'info_mgt/css/info_mgt.css' %}" /> {% endblock extra_head %} {% block card_content %}
<div id="homework_detail" class="card-content">
    <label style="font-size: 25px;">{{assinfo.0.assignment_name}}</label>
    <button onclick="window.location.href='../resource_share/homework_list'" id="dataRecycle" title="返回作业列表" class="btn btn-default btn-sm" style="margin-left: 5px; float:right">
    返回作业列表
    </button>
    <form action="{%url 'up_assignment'%}" enctype="multipart/form-data" method="POST">
        <input type="file" name="my_assignment">
        <input type="submit" value="submit"> {%csrf_token%}
    </form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
        </thead>
        <tbody>
            <tr>
                <td>所属课程</td>
                <td>{{assinfo.0.coursename}}</td>
            </tr>
            <tr>
                <td>开始时间</td>
                <td>{{assinfo.0.assignment_start}}</td>
            </tr>
            <tr>
                <td>截止时间</td>
                <td>{{assinfo.0.assignment_end}}</td>
            </tr>
            <tr>
                <td>作业占比</td>
                <td>{{assinfo.0.assignment_ratio}}</td>
            </tr>
            <tr>
                <td>当前状态</td>
                <td>{{msg1}}</td>
            </tr>
            <tr>
                <td>作业成绩</td>
                <td>{%if grade%}{{grade}}{%else%}{{msg}}{%endif%}</td>
            </tr>
        </tbody>
    </table>

    <div class="detail_container" style="width:100%; margin:10px auto 0;background-color: #f0f0f0; padding: 2% 5%; border-radius: 10px">
        <p>{{assinfo.0.assignment_intro}}</p>
    </div>
    {% endblock card_content %}