{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extracss %}
{% endblock extracss %}

{% block card_content %}
    <style type="text/css">
        .col_1{
            width: 12%;
        }
        .col_2{
            width: 20%;
        }
        .col_3{
            width: 20%;
        }
        .col_4 {
            width: 12%;
        }
        .col_5{
            width: 12%;
        }
        .col_6{
            width: 12%;
        }
        .col_7{
            width: 12%;
        }
        .mybutton{
            width: 60px;
            text-align: center;
            height: 30px;
            background-color: #3399ff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 0.3em;
        }
        .mybutton2{
            width: 60px;
            text-align: center;
            height: 30px;
            background-color: red;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 0.3em;
        }
        #block1{
            display: block;
        }
        #mheader1{
            font-size: 30px;
            color: black;
            background-color: white;
            width: 200px;
            border: #3d443d;
        }
    </style>

    <div id="block1">
        <table class="mytable">
            <tr>
                <th class="col_1" style="font-size: 30px">考试</th>
                <th class="col_2" style="font-size: 30px">开始时间</th>
                <th class="col_3" style="font-size: 30px">结束时间</th>
                <th class="col_4"></th>
                <th class="col_5" style="font-size: 30px">学科</th>
                <th class="col_6"></th>
                <th class="col_7"></th>
            </tr>
            {% for item in tests %}
                <form name = "test" action="./?paper_id={{ item.2 }}" method="post">
                    {% csrf_token %}
                    <input hidden name="paper_id" value="{{ item.2 }}">
                    <input hidden name="course_id" value="{{ item.0 }}">
                    <tr>
                        <td class="col_1">{{ item.3.0 }}</td>
                        <td class="col_2"><div><input class="exam-time start" name="start_time" type="datetime-local" style="width:100%"></div></td>
                        <td class="col_3"><input class="exam-time end" name="end_time" type="datetime-local"></td>
                        <td class="col_4"><button type="submit" class="mybutton">Publish</button></td>
                        <td class="col_5"><p>{{ item.1.0 }}</p></td>
                        <!--<td class="col_6"><button onclick="window.location.href='./test_delete/?paper_id={{ item.2 }}&teacher_id={{ teacher_id }}'" class="mybutton2">Delete</button></td>
                <td class="clo_7"><button onclick="window.location.href='./teach_detail/?paper_id={{ item.2 }}&teacher_id={{ teacher_id }}&student_id={{ student_id }}'" class="mybutton">Detail</button></td>-->
                        <td class="col_6"><button formaction="../test_delete/?paper_id={{ item.2 }}&teacher_id={{ teacher_id }}" class="mybutton2" name="delete">Delete</button></td>
                        <td class="clo_7"><button formaction='../teach_detail/?paper_id={{ item.2 }}&teacher_id={{ teacher_id }}' class="mybutton">Detail</button></td>
                    </tr>
                </form>
            {% endfor %}



        </table>
    </div>
    <script language="JavaScript">
        function Jump()
        {
            var action = test.action;
            var url="./test_delete/?paper_id={{ item.2 }}&teacher_id={{ teacher_id }}" ;
            test.action =  url;
            test.submit();
            test.action = action;

        }
    </script>
{% endblock card_content %}