{% extends 'skeleton.html' %}
{% load static %}
{% load material_form %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'online_exam/css/style.css' %}"/>
{% endblock extracss %}
{% block card_content %}
    <style type="text/css">
        .col_1{
            width: 200px;
        }
        .col_2{
            width: 200px;
        }
        .col_3{
            width: 200px;
        }
        .col_4 {
            width: 200px;
        }
        .mybutton{
            width: 60px;
            text-align: center;
            height: 30px;
            background-color: #3399ff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 0.3em;
        }
    </style>
    <style type="text/css">
    </style>
    <div id="block1">
        <table class="mytable">
            <tr>
                <th class="col_1" style="font-size: 30px">First Name</th>
                <th class="col_2" style="font-size: 30px">Last Name</th>
                <th class="col_3" style="font-size: 30px">Examination time</th>
                <th class="col_4" style="font-size: 30px">Grade</th>
            </tr>
            {% for row in score_content %}
                <tr>
                    <td class="col_1">{{ row.0 }}</td>
                    <td class="col_2">{{ row.1 }}</td>
                    <td class="col_3">{{ row.2 }}</td>
                    <td class="col_4">{{ row.3 }}</td>
                    {#                    请把#换成学生试卷分析的网址#}
                    {#                    <td><button onclick="window.location.href='#'" class="mybutton">Detail</button></td>#}
                    <td><button onclick="window.location.href='../stu_single?student_id={{ row.4 }}'" class="mybutton">Detail</button></td>
                </tr>
            {% endfor %}
        </table>

        <table class="mytable">
            <tr>
                <th class="col_1" style="font-size: 30px">Question</th>
                <th class="col_2" style="font-size: 30px">Correct</th>
            </tr>
            {% for row in correct %}
                <tr>
                    <td class="col_5">{{ row.0 }}</td>
                    <td class="col_6">{{ row.1 }}</td>
                    {#                不清楚题目要不要Detail按钮#}
                    {#                <button onclick="window.location.href='#'" class="mybutton">Detail</button>#}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock card_content %}
