{% extends 'skeleton.html' %}

{% load static %}
{% load material_form %}

{% block extracss %}
{% endblock extracss %}

{% block card_content %}
    <style type="text/css">
        .button1{
            float: left;
            color: black;
            width: 80px;
            text-align: center;
            height: 50px;
            background-color: #3399ff;
            border: none;
            border-radius: 5px;
            padding: 0.1em;
            margin-bottom: 10px;
        }
        .button2{
            float: right;
            color: black;
            width: 80px;
            text-align: center;
            height: 50px;
            background-color: red;
            border: none;
            border-radius: 5px;
            padding: 0.1em;
            margin-bottom: 10px;
        }
        .col_1{
            width: 180px;
        }
        .col_2{
            width: 180px;
        }
        .col_3{
            width: 180px;
        }
        .col_4 {
            width: 180px;
        }
        .col_5{
            width: 180px;
        }
        .col_6{
            width: 180px;
        }
        .col_7{
            width: 180px;
        }
        .mybutton{
            width: 60px;
            text-align: center;
            height: 30px;
            background-color: #3399ff;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 0.3em;
        }
        .mybutton2{
            width: 60px;
            text-align: center;
            height: 30px;
            background-color: red;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            padding: 0.3em;
        }
        #block1{
            display: block;
        }
    </style>
    <div id="block1">
        <table class="mytable">
            <tr>
                <th class="col_1" style="font-size: 20px">考试</th>
                <th class="col_2" style="font-size: 20px">开始时间</th>
                <th class="col_3" style="font-size: 20px">结束时间</th>
                <th class="col_4" style="font-size: 20px">考试状态</th>
                <th class="col_5" style="font-size: 20px">学科</th>
                <th class="col_6" style="font-size: 20px">考生人数</th>
                <th class="col_7"></th>
            </tr>
            {% for test in list %}
                <tr>
                    <td class="col_1">{{ test.0 }}</td>
                    <td class="col_2">{{ test.1 }}</td>
                    <td class="col_3">{{ test.2 }}</td>
                    <td class="col_4"><button onclick="window.location.href='../combine_analysis?testID={{ test.0 }}'" class="mybutton2">Analyse</button></td>
                    <td class="col_5">{{ test.3 }}</td>
                    <td class="col_6">{{ test.4 }}</td>
                    <td><button onclick="window.location.href='../teach_detail?test_id={{ test.0 }}'" class="mybutton">Detail</button></td>
                </tr>
            {% endfor %}
            <tr>

            </tr>
        </table>
    </div>
{% endblock card_content %}